@model SV18T1021214.DomainModel.Shipper

<div class="container">
    <div class="box box-primary">
        <div class="box-header with-border">
            <form class="form-horizontal" action="~/shipper/delete/@Model.ShipperID" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Tên người giao dịch:</label>
                        <div class="col-sm-10" style="border-bottom:1px dotted #808080">
                            <p class="form-control-static">@Model.ShipperName</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Số điện thoại</label>
                        <div class="col-sm-10" style="border-bottom:1px dotted #808080">
                            <p class="form-control-static">@Model.Phone</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            @if (SV18T1021214.BusinessLayer.CommonDataService.InUsedShipper(Model.ShipperID))
                            {
                                <p class="text-danger">không được xoá giao hang này !</p>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-warning">

                                    <i class="fa fa-save"></i>Đồng ý xoá
                                </button>
                            }
                            <a href="~/shipper" class="btn btn-yahoo">
                                <i class="fa fa-ban"></i> Quay lại
                            </a>
                        </div>
                    </div>

                </div>


            </form>
        </div>

    </div>


</div>



