
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; 2022 <a href="#">Nguyễn Văn Thanh Nhân.</strong> All rights
    Đăng ký tại trường đại học khoa học huế
</footer>