@model  SV18T1021214.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Mặt hàng";
}
<form id="searchInput" action="~/category/search">
    <div class="input-group">
        @Html.HiddenFor(m => m.PageSize)
        <input type="text" name="searchValue" class="form-control" placeholder="Search..." autofocus value="@Model.SearchValue">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary">
                <i class="fa fa-search"></i>
            </button>
            <a href="~/category/create" class="btn btn-flat btn-primary" style="margin-left:5px">Bổ sung</a>
        </span>
    </div>
</form>

<div id="searchResult">

</div>

@section scripts {
    <script src="~/Scripts/search.js"></script>
    <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            });
        } );
    </script>
}